
#header{
    background-color: rgb(173,216,230);
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    grid-area: h;

}
#colum1{
    background-color: rgb(170,170,170);
}
#colum2{
    background-color: rgb(187,187,187);
}
#colum3{
    background-color: rgb(204,204,204);
}
#footer{
    text-align: center;
    padding: 20px;
    grid-area: f;
}
#content div{
    height: 150px;
}
.menu-item{
    border-right: 1px solid black;
    padding: 15px;
}
.dark-green{
    background-color: rgb(47,79,79);
    color: white;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
#menu{
    display: flex;
    grid-area: m;
}
a{
    color: white;
    text-decoration: none;
}
#content{
    display: flex;
    flex-wrap: wrap;
    grid-area: c;
}
#container{
    display: grid;

    grid-template-areas:
    'h  h   h'
    'm  m   m'
    'c  c   c'
    'f  f   f';
}

#content>* {
    flex: 1 1 200px;
}
#colum2{
    flex: 2 1 200px;
}
@media screen and (max-width: 600px){
    #colum2{
        flex: 2 1 200px;
        order: 10;
    }
}