#gran1,#gran2{
    width: 150px;
    height: 20px;
    border: 1px solid black;
}
#gran1{
    background-color: #D61355;
}
#gran2{
    background-color: #30E3DF;
}
#child1,#child2{
    width: 200px;
    height: 50px;
    background-color: #FCE22A;
    border: 1px solid black;
}
#container{
    width: 500px;
    height: 250px;
    background-color: #F3CCFF;
    border: 1px solid black;
}
.red-text{
    color: red;
}